/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
/*
 * Заголовок
 */

.menu a
{
  font-size: 1.125rem;
  padding: 0 15px;
}



/*
 * Таймер 1
 */

.countdown_wrap:after,
.countdown_wrap:before
{
	width: 447px;
	height: 273px;
	left: -24px;
	top: -16px;
}


.clock
{
	margin: 10px 0;
}

.clock_caption
{
	margin-top: 5px;
}

}  /* <-- Large devices */