/*
 * Общие
 */

html,
body
{
  overflow-x: hidden;

  min-width: 320px;
  height: 100%;
}

html
{
  font-size: 100%;
}

body
{
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;

  position: relative;

  color: #301d6b;
  background: #ffffff;
}

.footer
{
  background: #383838;
}

.wrapper
{
  position: relative;

  overflow-y: auto;
  overflow-x: hidden;

  width: 100%;
  height: 100%;

  -webkit-overflow-scrolling: touch;
}

.open .wrapper
{
  left: 230px;

  overflow-y: hidden;
}

.section_head
{
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.2rem;

  margin-bottom: 60px;

  text-align: center;
}

.section
{
  padding: 60px 0;
}

.btn
{
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;

  display: inline-block;

  padding: 10px 20px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: #fff;
  border: none;
  background: #008dd2;
  outline: none;
}

.btn:hover
{
  background: #007bb7;
}

h1
{
  font-size: 3rem;
  font-weight: 300;
  line-height: 3rem;

  margin: 0 0 40px;
}



/*
 * Мобильное меню
 */

.sidebar_mob
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: -230px;

  overflow-y: auto;

  width: 230px;

  background: #fff;
}

.open .sidebar_mob
{
  left: 0;
}

.curtain
{
  position: fixed;
  z-index: 30;
  top: 0;
  right: 0;
  bottom: 0;
  left: 230px;

  display: none;

  background-color: rgba(0,0,0,.5);
}

.open .curtain
{
  display: block;
}

.menu_mob
{
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.menu_mob a
{
  display: block;

  padding: 15px 0 15px 20px;

  text-decoration: none;

  color: #301d6b;
  border-bottom: 1px solid #d6ceef;
}

.menu_mob .active a
{
  color: #fff;
  border-bottom: 1px solid #301d6b;
  background: #301d6b;
}



/*
 * Мобильный заголовок
 */

.header_mob
{
  position: relative;

  height: 45px;

  background: #fff;
}

.page_title
{
  line-height: 45px;

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;

  margin: 0 50px;

  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav_mob_toggle
{
  position: relative;
  z-index: 20;

  float: left;

  width: 45px;
  height: 45px;
  padding: 14px 10px;
}

.nav_mob_toggle span
{
  display: block;

  height: 3px;
  margin-bottom: 3px;

  border-radius: 4px;
  background: #32176d;
}

.logo_mob
{
  position: relative;
  z-index: 20;

  display: block;
  float: right;

  width: 45px;
  height: 45px;

  background: url(../img/logo-mobile.png) no-repeat left top;
}



/*
 * Заголовок
 */

.header
{
  height: 40px;

  background: #fff;
}

.logo
{
  background: url(../img/logo.png) no-repeat left top;
  background-size: contain;
  height: 40px;
}

.menu
{
  float: right;

  margin: 0;
  padding: 0;
}

.menu li
{
  float: left;

  list-style-type: none;
}

.menu a
{
  font-size: 0.75rem;
  line-height: 40px;

  display: block;

  height: 40px;
  padding: 0 5px;

  text-decoration: none;

  color: #301d6b;
}

.menu .active a,
.menu a:hover
{
  text-decoration: underline;
}



/*
 * Элементы формы
 */


select.base_control,
input.base_control,
textarea.base_control
{
  width: 100%;

  color: #6a8294;
  border: 1px solid #ebebeb;
  outline: none;
}

select.base_control,
input.base_control
{
  line-height: 38px;

  height: 45px;
  padding: 0 15px;
}



/*
 * Верхний блок
 */

.top
{
  background: url(../img/background-top.jpg) no-repeat center top;
  background-size: cover;
}

.top_head
{
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
}



/*
 * Дескриптор
 */

.top_desc
{
  color: #ffffff;
  padding: 15px 40px;
  margin: 15px 0;
  background: url(../img/background-desc.png) no-repeat left top;
  background-size: 100% 100%;
}

.top_desc_title
{
  margin-bottom: 10px;
}

.btn.__show_video
{
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding-left: 45px;
  background: url(../img/ico-play.png) no-repeat 15px center;
  font-size: 18px;
  font-weight: 300;
}

.btn.__show_video:hover
{
  opacity: 0.7;
}



/*
 * Прайс
 */

.price_table
{
  color: #ffffff;
  font-size: 0.75rem;
  text-align: center;
  width: 100%;
}

.price_base
{
  opacity: 0.7;
}

.price_row td
{
  height: 50px;
}

.price_medium
{
  font-size: 0.875rem;
}

.price_best
{
  font-size: 1.125rem;
}

.price_best.__decor
{
  display: inline-block;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.7);
  padding-bottom: 2px;
}

.price_best.__decor:before
{
  content: " ";
  display: block;
  position: absolute;
  width: 71px;
  height: 18px;
  background: url(../img/best-price-mobile.png) no-repeat 0 0;
  right: -34px;
  top: -12px;
}



/*
 * Форма 1
 */

.top_form
{
  background: #ffffff;
  padding: 23px;
  border-radius: 0 0 25px 25px;
  width: 100%;
  max-width: 400px;
  margin: 25px auto 0;
}

.top_form_head
{
  font-size: 1.4375rem;
  text-align: center;
  margin-bottom: 25px;
}

.top_form .form_item
{
  margin-top: 25px;
}

.top_form .base_control
{
  border-color: #301d6b;
}

.top_form .base_control::-webkit-input-placeholder {color:#60518f;}
.top_form .base_control::-moz-placeholder          {color:#60518f;}
.top_form .base_control:-moz-placeholder           {color:#60518f;}
.top_form .base_control:-ms-input-placeholder      {color:#60518f;}

.base_control:focus::-webkit-input-placeholder {color: transparent}
.base_control:focus::-moz-placeholder          {color: transparent}
.base_control:focus:-moz-placeholder           {color: transparent}
.base_control:focus:-ms-input-placeholder      {color: transparent}

.btn_wrap
{
  padding: 11px 15px;
  background: #f8f8f8;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.35);
  border-radius: 6px;
}

.btn_wrap .btn
{
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #868181;
  font-size: 1.5625rem;
  line-height: 23px;
  text-shadow: -1px 1px 2px rgba(0,0,0,0.4);
  background: #d00000;
  background: -moz-linear-gradient(top,  #d00000 0%, #da0202 40%, #be0101 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d00000), color-stop(40%,#da0202), color-stop(100%,#be0101));
  background: -webkit-linear-gradient(top,  #d00000 0%,#da0202 40%,#be0101 100%);
  background: -o-linear-gradient(top,  #d00000 0%,#da0202 40%,#be0101 100%);
  background: -ms-linear-gradient(top,  #d00000 0%,#da0202 40%,#be0101 100%);
  background: linear-gradient(to bottom,  #d00000 0%,#da0202 40%,#be0101 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d00000', endColorstr='#be0101',GradientType=0 );
}

.btn_wrap .btn:hover
{
  background: #e80000;
background: -moz-linear-gradient(top,  #e80000 0%, #f20202 40%, #db0202 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e80000), color-stop(40%,#f20202), color-stop(100%,#db0202));
background: -webkit-linear-gradient(top,  #e80000 0%,#f20202 40%,#db0202 100%);
background: -o-linear-gradient(top,  #e80000 0%,#f20202 40%,#db0202 100%);
background: -ms-linear-gradient(top,  #e80000 0%,#f20202 40%,#db0202 100%);
background: linear-gradient(to bottom,  #e80000 0%,#f20202 40%,#db0202 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e80000', endColorstr='#db0202',GradientType=0 );

}



/*
 * Таймер 1
 */

.countdown_wrap
{
  position: relative;
  width: 290px;
  margin: 0 auto;
}

.countdown_wrap:after,
.countdown_wrap:before
{
  content: " ";
  position: absolute;
  display: block;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  
  
  width: 324px;
  height: 198px;

  left: -17px;
  top: -12px;
}

.countdown_wrap:before
{
  z-index: 0;
  background-image: url(../img/top-timer-before-background.png);
}

.countdown_wrap:after
{
  z-index: 100;
  background-image: url(../img/top-timer-after-background.png);
}

.countdown
{
  background: rgba(1,5,27,0.7);
  padding: 15px 25px; 
  margin-top: 25px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 50;
}

.countdown_head
{
  font-size: 1rem;
  font-weight: 600;
}

.clock
{
  overflow: hidden;
}

.clock_item
{
  float: left;
  width: 33.33333%;
  position: relative;
}

.clock_item:before
{
  position: absolute;
  content: ":";
  right: -6px;
  top: -13px;
  font-size: 3.125rem;
}

.clock_item:last-child:before
{
  display: none;
}

.clock_value
{
  font-size: 2.5rem;
}