/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/*
 * Заголовок
 */

.menu a
{
  font-size: 1rem;
}



/*
 * Верхний блок
 */

.top_head
{
  margin-top: 156px;
}

.logo
{
  margin-top: 11px;
}


/*
 * Прайс
 */

.price_table
{
  font-size: 1.125rem;
}

.price_medium
{
  font-size: 1.5625rem;
}

.price_best
{
  font-size: 1.875rem;
}

.price_row td
{
  height: 90px;
}

.price_best.__decor:before
{
  width: 94px;
  height: 24px;
  background: url(../img/best-price.png) no-repeat 0 0;
  top: -15px;
}



/*
 * Таймер 1
 */

.countdown_wrap
{
  width: 100%;
  max-width: 400px;
}


.countdown_wrap:after,
.countdown_wrap:before
{
  width: 418px;
  height: 255px;
  left: -22px;
  top: -15px;
}

.countdown_head
{
  font-size: 1.4rem;
}

.clock
{
  margin: 5px 0;
}

.clock_value
{
  font-size: 3.125rem;
}

.clock_item:before
{
  top: -7px;
}



/*
 * Список с характеристиками
 */

.specifications
{
  background-position: center 180px;
}

.spec_list.__left .spec_ico
{
  text-align: right;
  padding-left: 0;
  padding-right: 70px;
}

.spec_list.__left .spec_ico:before
{
  left: auto;
  right: 0;
}

.spec_list.__left li:nth-child(1)
{
  padding-right: 20px;
}

.spec_list.__left li:nth-child(2)
{
  padding-right: 80px;
}

.spec_list.__left li:nth-child(3)
{
  padding-right: 140px;
}

.spec_list.__left li:nth-child(4)
{
  padding-right: 195px;
}

.spec_list.__left li:nth-child(5)
{
  padding-right: 240px;
}

.spec_list.__right
{
  margin-top: 97px;
}

.spec_list.__right li:nth-child(1)
{
  padding-left: 135px;
}

.spec_list.__right li:nth-child(2)
{
  padding-left: 100px;
}

.spec_list.__right li:nth-child(3)
{
  padding-left: 65px;
}

.spec_list.__right li:nth-child(4)
{
  padding-left: 30px;
}



/* 
 * Манифест
 */
.maifest_item
{
  height: 280px;
}



/*
 * Преимущества
 */

.ex_list.__type_2,
.ex_list.__type_3
{
  top: 320px;
}

.ex_list.__type_2 .ex_item:nth-child(1),
.ex_list.__type_2 .ex_item:nth-child(2)
{
  margin-left: 129px;
}

.ex_list.__type_3 .ex_item:nth-child(1),
.ex_list.__type_3 .ex_item:nth-child(2)
{
  margin-left: -129px;
}

.ex_list.__type_2 .ex_item:nth-child(3),
.ex_list.__type_3 .ex_item:nth-child(3)
{
  margin-top: -220px;
}



/*
 * Акция
 */

.promo_desc
{
  padding-bottom: 60px;
}



/*
 * Подарок
 */ 
 
.gift
{
  float: left;
  max-width: 100%;
  padding: 5px 0 0 195px;
  font-size: 1.5rem;
  text-align: left;
}

.gift:before
{
  right: auto;
  left: 175px;
  bottom: -25px;
}


} /* <-- Medium devices */